<section id="doctors" class="doctors section-bg">
    <div class="container" data-aos="fade-up">
        <br>
        <br>
        <br>
        <br>

      <div class="section-title">
        <h2>Doctors specialized in {{domainname}}</h2>
        <p>These are the available doctors for your desired Medical field.</p>
      </div>

      <div class="row">

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" *ngFor="let doc of singleDomain">
          <div class="member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img src="http://127.0.0.1:8088/api/auth/Doctor/files/{{doc.photo}}"  class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <a routerLink="/home/doctor/{{doc?.id}}"><h4>{{doc?.username}}</h4></a>
              <span style="font-weight: bolder;font-size: 15px;">Specializes in the {{domainname}} field</span>
            </div>
          </div>
        </div>

        

      </div>

    </div>
  </section>