
   
    <!-- START CONTAINER -->
    <div class="page-container row-fluid container-fluid">

        <!-- SIDEBAR - START -->
        <!--  SIDEBAR - END -->

        <!-- START CONTENT -->
        <section id="main-content" class="">
            <div class="wrapper main-wrapper row" style="">

                <div class="col-xs-12">
                    <div class="page-title">

                        <div class="pull-left">
                            <!-- PAGE HEADING TAG - START -->
                            <h1 class="title">Add Doctor</h1>
                            <!-- PAGE HEADING TAG - END -->
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <!-- MAIN CONTENT AREA STARTS -->

                <div class="col-xs-12 mb-30">
                    <div class="add-header-wrapper gradient-blue curved-section text-center">
                        <h2 class="uppercase bold w-text">Add new Doctor</h2>
                        <div class="before-text">add Doctor</div>
                        <p class="g-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto magni consequatur excepturi ab veritatis id facere facilis tempora sit amet, consectetur adipisicing elit. Iusto magni.</p>
                    </div>

                    <div class=" bg-w">
                        <div class="col-lg-10 col-lg-offset-1 col-xs-12">
                            <section class="box">
                                <header class="panel_header">
                                    <h2 class="title pull-left">Doctor Info</h2>
                                    <div class="actions panel_actions pull-right">
                                        <a class="box_toggle fa fa-chevron-down"></a>
                                        <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                                        <a class="box_close fa fa-times"></a>
                                    </div>
                                </header>
                                <div class="content-body">
                                <div class="row">
                                <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" action="#" method="post">
                                        <div class="col-xs-12 ">
                                            <div class="form-group">
                                                <label class="form-label" for="field-1">Name</label>
                                                <span class="desc"></span>
                                                <div class="controls">
                                                    <input formControlName="username" type="text" class="form-control" id="field-1">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label" for="field-5">Email</label>
                                                <span class="desc">e.g. "something@gmail.com"</span>
                                                <div class="controls">
                                                    <input formControlName="email" type="text" class="form-control datepicker" data-format="mm/dd/yyyy" value="daf">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label" for="field-5">Password</label>
                                                <span class="desc"></span>
                                                <div class="controls">
                                                    <input formControlName="password" type="password" class="form-control" id="field-1" >
                                                </div>
                                                    <!-- <select class="form-control">
                                                        <option></option>
                                                        <option>Male</option>
                                                        <option>Female</option>
                                                    </select> -->
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label" for="field-1">Profile Image</label>
                                                <span class="desc"></span>
                                                <div class="controls">
                                                    <input type="file" class="form-control" (change)="onFileSelect($event)" id="field-5">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label" for="field-1">Speciality</label>
                                                <select formControlName="domainMedical" class="form-control">
                                                    <option *ngFor="let domain of domains" [value]="domain.id">{{domain.name}}</option>
                                                  </select>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label" for="field-6">Adresse</label>
                                                <span class="desc">e.g. "Enter adresse here"</span>
                                                <div class="controls">
                                                    <textarea class="form-control autogrow" formControlName="adresse" cols="5" id="field-6" style="overflow: hidden; overflow-wrap: break-word; resize: horizontal; height: 54px;"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label" for="field-1">Age</label>
                                                <span class="desc">Eg: 25</span>
                                                <div class="controls">
                                                    <input type="number" formControlName="age" class="form-control" id="field-1" >
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-label" for="field-1">Points</label>
                                                    <span class="desc">Eg: put number here</span>
                                                    <div class="controls">
                                                        <input type="number" formControlName="points" class="form-control" id="field-1" >
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-label" for="field-1">Patients</label>
                                                    <span class="desc">Eg: number of patients</span>
                                                    <div class="controls">
                                                        <input type="number" formControlName="patients" class="form-control" id="field-1" >
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>


                                            <div class="col-xs-12  padding-bottom-30">
                                                <div class="text-left">
                                                    <button type="onsubmit" class="btn btn-primary gradient-blue">Save</button>
                                                    <button type="button" class="btn">Cancel</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </section>
                        </div>

                    </div>
                </div>

                

                
        <!-- MAIN CONTENT AREA ENDS -->
        </div>
    </section>
    <!-- END CONTENT -->
    

    <div class="chatapi-windows ">

    </div>
    </div>
    <!-- END CONTAINER -->
    <!-- LOAD FILES AT PAGE END FOR FASTER LOADING -->

    <!-- CORE JS FRAMEWORK - START -->
 
    <!-- CORE JS FRAMEWORK - END -->




<!-- Mirrored from medash.netlify.app/html/hos-add-doctor.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 14 Mar 2023 11:25:45 GMT -->
