.filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .filter-btn {
    background-color: #2196f3;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    border-radius: 5px;
  }
  
  .filter-btn:hover {
    background-color: #0d47a1;
  }
  
  .filter-dropdown {
    position: relative;
    top: 50px;
    right: 0;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    padding: 10px;
    z-index: 999;
  }
  
  .filter-dropdown label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .filter-dropdown select {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .apply-filter-btn {
    background-color: #2196f3;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    border-radius: 5px;
  }
  
  .apply-filter-btn:hover {
    background-color: #0d47a1;
  }
  