<section id="about" class="about">
    <div class="container" data-aos="fade-up">
        <br>
        <br>
        <br>
        <br>
        <br>
        

      <div class="section-title">
        <h2>About Us</h2>
        <p>Our project aims to revolutionize the healthcare industry by bringing all doctors onto a single platform. We understand that finding the right doctor can be a daunting and time-consuming task, which is why we have created a platform that simplifies the process for patients.</p>
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-right">
          <img src="assets/img/about.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>Here are the Main advantages our Website provides</h3>
          <p class="fst-italic">
            Our website aims to make it easy for patients and doctors alike to work together and improve the quality of the patient doctor relationship
          </p>
          <ul>
            <li><i class="bi bi-check-circle"></i> The ability for patients to search for doctors based on their specialities and request rendezvous online.</li>
            <li><i class="bi bi-check-circle"></i> The ability for doctors to manage their patients through their own platform.</li>
            <li><i class="bi bi-check-circle"></i> Some of our Doctors are working with artifical Intelligence to further help their patients.</li>
          </ul>
          <p>
            All in All, our website provides good care for both patients and doctors, and there is alot more to come. It only gets better from here
          </p>
        </div>
      </div>

    </div>
  </section>