<div class='page-topbar gradient-blue1'>
    <div class='logo-area crypto'>

    </div>
    <div class='quick-area'>
        <div class='pull-left'>
            <ul class="info-menu left-links list-inline list-unstyled">
                
                
            
                
                
            </ul>
        </div>
        <div class='pull-right'>
            <ul class="info-menu right-links list-inline list-unstyled">
                
                <li class="profile">
                    <a href="#" data-toggle="dropdown" class="toggle">
                        <img src="assets/images/profile.jpg" alt="user-image" class="img-circle img-inline">
                        <span>{{userconnect}} <i class="fa fa-angle-down"></i></span>
                    </a>
                    <ul class="dropdown-menu profile animated fadeIn">
                        <li>
                            <a href="hos-faq.html">
                                <i class="fa fa-wrench"></i> Settings
                            </a>
                        </li>
                        <li>
                            <a href="hos-doctor-profile.html">
                                <i class="fa fa-user"></i> Profile
                            </a>
                        </li>
                        <li>
                            <a href="hos-support.html">
                                <i class="fa fa-info"></i> Help
                            </a>
                        </li>
                        <li class="last">
                            
                            <a  style="cursor: pointer;" (click)="logout()">
                                <i class="fa fa-lock"></i> Logout
                            </a>
                              
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    

</div>