<section id="main-content" class=" ">
    <div class="wrapper main-wrapper row" >

        <div class='col-xs-12'>
            <div class="page-title">

                <div class="pull-left">
                    <!-- PAGE HEADING TAG - START -->
                    <h1 class="title">Doctor Profile</h1>
                    <!-- PAGE HEADING TAG - END -->
                </div>

            </div>
        </div>

        <div class="clearfix"></div>
        <!-- MAIN CONTENT AREA STARTS -->

        <div class="col-lg-4">
            <section class="box ">
                <div class="content-body p">
                    <div class="row">
                        <div class="doctors-list v2  relative">
                            <div class="doctors-head relative text-left mb-0">
                                <div class="doc-img img-circle">
                                    <img src="http://127.0.0.1:8088/api/auth/Doctor/files/{{onedoctor?.photo}}"  class="img-thumbnail center-block" alt="">
                                    <div class="stutas"></div>
                                </div>
                                <h3 class="header relative bold">Dr : {{onedoctor?.username}}</h3>
                                <h5 class="boldy" style="text-align: center;">expert in the {{onedoctor?.domainMedical?.name}} illnesses</h5>
                                <h5 class="boldy" style="text-align: center;font-weight: bold;">this doctor is {{stat}}</h5>
                                <p class="desc relative mb-15">{{onedoctor?.description}}</p>
                                <div class="doc-rating mb-30">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <span>{{average}}</span>
                                </div>

                                <div class="email-div">
                                    <i class="fa fa-envelope f-s-14 mr-10"></i><span>Email</span>
                                    <a href="#" class="blue-text">
                                        <h5 class="text-info">{{onedoctor?.email}}</h5>
                                    </a>
                                    <button type="button" class="btn btn-success btn-icon btn-lg mt-10 right15" [routerLink]="['/home/message/',onedoctor?.username]" >
                                        <i class="fa fa-send f-s-14"></i> &nbsp; <span>Send Message</span>
                                    </button>
                                    <button *ngIf="showbutton"(click)="confirmDoctor(onedoctor.id)" type="button" class="btn btn-success btn-icon btn-lg mt-10 right15">
                                        <i class="fa fa-send f-s-14"></i> &nbsp; <span>Confirm Doctor</span>
                                    </button>
                                </div>  
                            </div>
                            
                        </div>
                       
                    </div>
                </div>
            </section>
        </div>

        <div class="col-lg-8 col-md-12">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <section class="box ">
                        <header class="panel_header">
                            <h2 class="title pull-left">Recent Messages</h2>
                            <div class="actions panel_actions pull-right">
                                <a class="box_toggle fa fa-chevron-down"></a>
                                <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                                <a class="box_close fa fa-times"></a>
                            </div>
                        </header>
                        <div  class="content-body">    
                            <div class="row align-items-center flex">
                                <div class="col-xs-12">
                                    <div class="pat-info-wrapper align-center">
                                        <div class="pat-info text-right mr-10">
                                            <h2 class="bold m-count">{{messages?.length}}</h2>
                                        </div>
                                        <div class="pat-val relative">
                                            <h4 class="value p-text mb-0"><i class="fa fa-envelope message green-text has-shadow f-s-20 mr-10"></i><span>New</span></h4>
                                        </div>
                                    </div>
                                    <div *ngFor="let message of messages?.slice(0,4)" class="relative mb-15">
                                        <div class="round">S</div>
                                        <div class="designer-info">
                                            <h6 class="msg-sender">{{message?.sender?.username}}</h6>
                                            <small class="text-muted">{{message?.content}}</small>
                                            <h6 class="text-muted mt-0 mb-0">{{message?.timestamp}}</h6>
                                        </div>
                                    </div>
                                    
                                    
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

                <div class="col-xs-12 col-md-6">
                    
                    <section class="box ">
                        <header class="panel_header">
                            <h2 class="title pull-left">Patients</h2>
                            <div class="actions panel_actions pull-right">
                                <a class="box_toggle fa fa-chevron-down"></a>
                                <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                                <a class="box_close fa fa-times"></a>
                            </div>
                        </header>
                        <div class="content-body">    
                            <div class="row">
                                <div class="col-xs-12">
                                    <ul class="project-activity list-unstyled mb-0">
                                        <li class="activity-list ">
                                            <div class="detail-info v2" *ngFor="let patient of onedoctor?.myPatients?.slice(0,5)">
                                                <div class="doc-img-con pull-left mr-10" >
                                                    <img src="http://127.0.0.1:8088/api/auth/Doctor/files/{{patient.photo}}" width="80" alt="">
                                                </div>
                                                <div class="visit-doc" >
                                                    <p class="text-muted mb-0 boldy" style="color:black">
                                                        {{patient.username}}
                                                    </p>
                                                    <span class="message" >
                                                        {{patient.email}}
                                                    </span>
                                                    
                                                </div>
                                            </div>
                                        </li>
                                       
                                       
                                    </ul>
                                </div>      
                            </div> <!-- End .row -->
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <section class="box ">
                        <header class="panel_header">
                            <h2 class="title pull-left">Badges</h2>
                            <div class="actions panel_actions pull-right">
                                <a class="box_toggle fa fa-chevron-down"></a>
                                <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                                <a class="box_close fa fa-times"></a>
                            </div>
                        </header>
                        <div class="content-body">    
                            <div class="row align-items-center flex">
                                <div class="col-xs-12 text-center">
                                    
                                    <img src="assets/hos-dash/badge.png" style="max-width:85px" alt="">
                                    <h4 class="boldy">You don’t have badges yet</h4>
                                    <div class="mt-10 text-center">
                                        <button type="button" class="btn btn-success gradient-blue btn-lg mt-10 right15">
                                            <span>earn budges</span>
                                        </button>
                                    </div>
                                    
                                    
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-xs-12 col-md-6">
                    <section class="box ">
                        <header class="panel_header">
                            <h2 class="title pull-left">Speciality</h2>
                            <div class="actions panel_actions pull-right">
                                <a class="box_toggle fa fa-chevron-down"></a>
                                <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                                <a class="box_close fa fa-times"></a>
                            </div>
                        </header>
                        <div class="content-body">    
                            <div class="row align-items-center flex">
                                <div class="col-xs-12">
                                    
                                    <div class="speciality-item relative">
                                        <div class="doc-img-con speciality pull-left">
                                            <img src="assets/hos-dash/speciality1.png" width="80" alt="">
                                        </div>
                                        <div class="designer-info">
                                            <h6 class="msg-sender">Certified</h6>
                                            <small class="text-muted f-s-14">Cold Laser Therapy</small>
                                        </div>
                                    </div>
                                    <div class="speciality-item relative ">
                                        <div class="doc-img-con speciality pull-left">
                                            <img src="assets/hos-dash/speciality2.png" width="80" alt="">
                                        </div>
                                        <div class="designer-info">
                                            <h6 class="msg-sender">Medication Laser</h6>
                                            <small class="text-muted f-s-14">Hair Lose Product</small>
                                        </div>
                                    </div>
                                    <div class="speciality-item relative mb-0">
                                        <div class="doc-img-con speciality pull-left">
                                            <img src="assets/hos-dash/speciality2.png" width="80" alt="">
                                        </div>
                                        <div class="designer-info">
                                            <h6 class="msg-sender">professional</h6>
                                            <small class="text-muted f-s-14">Certified Hair Lose Surgery</small>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        

        <div class="clearfix"></div>

        <div class="col-xs-12 col-md-6">
            <section class="box ">
                <header class="panel_header">
                    <h2 class="title pull-left">Recent Visits</h2>
                    <div class="actions panel_actions pull-right">
                        <a class="box_toggle fa fa-chevron-down"></a>
                        <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                        <a class="box_close fa fa-times"></a>
                    </div>
                </header>
                <div class="content-body">    
                    <div class="row">
                        <div class="col-xs-12">
                            <ul class="project-activity list-unstyled mb-0">
                                <li class="activity-list warning">
                                    <div class="detail-info v2" *ngFor="let rdv of rendezvous" >
                                        <div class="doc-img-con pull-left mr-10">
                                            <img src="http://127.0.0.1:8088/api/auth/Doctor/files/{{onedoctor.photo}}" width="80" alt="">
                                        </div>
                                        <div class="visit-doc">
                                            <p class="message">
                                                 {{onedoctor.username}} <span class="text-info bold">( {{rdv.patientName.username}} )</span>
                                            </p>
                                            <small class="text-muted">
                                                 {{rdv.appointmentReason}}
                                            </small>
                                        </div>
                                        <div class="visit-date pull-right">
                                            <p class="mb-0">{{rdv.formattedDate}}</p>
                                        </div>
                                    </div>
                                </li>
                                
                            </ul>
                        </div>      
                    </div> <!-- End .row -->
                </div>
            </section>
        </div>

        <div class="col-xs-12 col-md-6">
            
            <section class="box ">
                <header class="panel_header">
                    <h2 class="title pull-left">Patients Notes</h2>
                    <div class="actions panel_actions pull-right">
                        <a class="box_toggle fa fa-chevron-down"></a>
                        <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                        <a class="box_close fa fa-times"></a>
                    </div>
                </header>
                
                <div class="content-body" >    
                    <div class="row">
                        <div class="col-xs-12" *ngFor="let rating of ratings">
                            <ul class="project-activity list-unstyled mb-0">
                                <li class="activity-list warning">
                                    <div class="detail-info">
                                        <div class="visit-doc">
                                            
                                            <p class="message" style="color:red">
                                                RATING :
                                                
                                            </p>
                                            <div class="stars" *ngIf="rating.rating==1">
                                                <i class="fa fa-star"></i>
                        
                                              </div>
                                              <div class="stars" *ngIf="rating.rating==2">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                        
                                              </div>
                                              <div class="stars" *ngIf="rating.rating==3">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                        
                                              </div>
                                              <div class="stars" *ngIf="rating.rating==4">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                        
                                              </div>
                                              <div class="stars" *ngIf="rating.rating==5">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                        
                                              </div>
                                            <small class="text-muted f-s-14 mb-7">
                                                {{rating.patientNotes}}
                                            </small>
                                            <p class="message">
                                                {{rating.patient.username}}
                                            </p>
                                            
                                        </div>
                                        
                                    </div>
                                </li>
                                <li class="clearfix"></li>
                                


                            </ul>
                        </div>      
                    </div> <!-- End .row -->
                </div>
            </section>

        </div>

        <div class="clearfix"></div>


        <!-- MAIN CONTENT AREA ENDS -->
    </div>
</section>
<!-- END CONTENT -->
<!-- <div class="page-chatapi hideit">

    <div class="search-bar">
        <input type="text" placeholder="Search" class="form-control">
    </div>

    <div class="chat-wrapper">

        <h4 class="group-head">Favourites</h4>
        <ul class="contact-list">

            <li class="user-row " id='chat_user_1' data-user-id='1'>
                <div class="user-img">
                    <a href="#"><img src="assets/profile/avatar-1.png" alt=""></a>
                </div>
                <div class="user-info">
                    <h4><a href="#">Joge Lucky</a></h4>
                    <span class="status available" data-status="available"> Available</span>
                </div>
                <div class="user-status available">
                    <i class="fa fa-circle"></i>
                </div>
            </li>
            <li class="user-row " id='chat_user_2' data-user-id='2'>
                <div class="user-img">
                    <a href="#"><img src="assets/profile/avatar-2.png" alt=""></a>
                </div>
                <div class="user-info">
                    <h4><a href="#">Folisise Chosiel</a></h4>
                    <span class="status away" data-status="away"> Away</span>
                </div>
                <div class="user-status away">
                    <i class="fa fa-circle"></i>
                </div>
            </li>
            <li class="user-row " id='chat_user_3' data-user-id='3'>
                <div class="user-img">
                    <a href="#"><img src="assets/profile/avatar-3.png" alt=""></a>
                </div>
                <div class="user-info">
                    <h4><a href="#">Aron Gonzalez</a></h4>
                    <span class="status busy" data-status="busy"> Busy</span>
                </div>
                <div class="user-status busy">
                    <i class="fa fa-circle"></i>
                </div>
            </li>

        </ul>

        <h4 class="group-head">More Contacts</h4>
        <ul class="contact-list">

            <li class="user-row " id='chat_user_4' data-user-id='4'>
                <div class="user-img">
                    <a href="#"><img src="assets/profile/avatar-4.png" alt=""></a>
                </div>
                <div class="user-info">
                    <h4><a href="#">Chris Fox</a></h4>
                    <span class="status offline" data-status="offline"> Offline</span>
                </div>
                <div class="user-status offline">
                    <i class="fa fa-circle"></i>
                </div>
            </li>
            <li class="user-row " id='chat_user_5' data-user-id='5'>
                <div class="user-img">
                    <a href="#"><img src="assets/profile/avatar-5.png" alt=""></a>
                </div>
                <div class="user-info">
                    <h4><a href="#">Mogen Polish</a></h4>
                    <span class="status offline" data-status="offline"> Offline</span>
                </div>
                <div class="user-status offline">
                    <i class="fa fa-circle"></i>
                </div>
            </li>
            <li class="user-row " id='chat_user_6' data-user-id='6'>
                <div class="user-img">
                    <a href="#"><img src="assets/profile/avatar-1.png" alt=""></a>
                </div>
                <div class="user-info">
                    <h4><a href="#">Smith Carter</a></h4>
                    <span class="status available" data-status="available"> Available</span>
                </div>
                <div class="user-status available">
                    <i class="fa fa-circle"></i>
                </div>
            </li>
            <li class="user-row " id='chat_user_7' data-user-id='7'>
                <div class="user-img">
                    <a href="#"><img src="assets/profile/avatar-2.png" alt=""></a>
                </div>
                <div class="user-info">
                    <h4><a href="#">Amilia Gozenal</a></h4>
                    <span class="status busy" data-status="busy"> Busy</span>
                </div>
                <div class="user-status busy">
                    <i class="fa fa-circle"></i>
                </div>
            </li>
            <li class="user-row " id='chat_user_8' data-user-id='8'>
                <div class="user-img">
                    <a href="#"><img src="assets/profile/avatar-3.png" alt=""></a>
                </div>
                <div class="user-info">
                    <h4><a href="#">Tahir Jemyship</a></h4>
                    <span class="status away" data-status="away"> Away</span>
                </div>
                <div class="user-status away">
                    <i class="fa fa-circle"></i>
                </div>
            </li>
            <li class="user-row " id='chat_user_9' data-user-id='9'>
                <div class="user-img">
                    <a href="#"><img src="assets/profile/avatar-4.png" alt=""></a>
                </div>
                <div class="user-info">
                    <h4><a href="#">Johanson Wright</a></h4>
                    <span class="status busy" data-status="busy"> Busy</span>
                </div>
                <div class="user-status busy">
                    <i class="fa fa-circle"></i>
                </div>
            </li>
            <li class="user-row " id='chat_user_10' data-user-id='10'>
                <div class="user-img">
                    <a href="#"><img src="assets/profile/avatar-5.png" alt=""></a>
                </div>
                <div class="user-info">
                    <h4><a href="#">Loni Tindall</a></h4>
                    <span class="status away" data-status="away"> Away</span>
                </div>
                <div class="user-status away">
                    <i class="fa fa-circle"></i>
                </div>
            </li>
            <li class="user-row " id='chat_user_11' data-user-id='11'>
                <div class="user-img">
                    <a href="#"><img src="assets/profile/avatar-1.png" alt=""></a>
                </div>
                <div class="user-info">
                    <h4><a href="#">Natcho Herlaey</a></h4>
                    <span class="status idle" data-status="idle"> Idle</span>
                </div>
                <div class="user-status idle">
                    <i class="fa fa-circle"></i>
                </div>
            </li>
            <li class="user-row " id='chat_user_12' data-user-id='12'>
                <div class="user-img">
                    <a href="#"><img src="assets/profile/avatar-2.png" alt=""></a>
                </div>
                <div class="user-info">
                    <h4><a href="#">Shakira Swedan</a></h4>
                    <span class="status idle" data-status="idle"> Idle</span>
                </div>
                <div class="user-status idle">
                    <i class="fa fa-circle"></i>
                </div>
            </li>

        </ul>
    </div>

</div> -->