<style>
     .patient-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 3px solid #ccc;
  max-width: 80%;
  padding: 10px;
  margin: 0 auto; /* add this to center horizontally */
  margin-top: 50px; /* add this to center vertically */
}

.patient {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  width: 250px;
}

.patient img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.patient h3 {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.patient p {
  font-size: 0.9em;
  margin: 0;
}
/* The Modal (background) */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}


.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  width: 100%;
  max-height: 80vh;
  overflow-y: auto;
}
.modal-content2 {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  width: 100%;
  max-height: 80vh;
  overflow-y: auto;
}


/* Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.patient-info{
  margin-left: 60px;
}


</style>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<body>
    <div class="section-title">
        <h2 style="font-family: fantasy;">Patient List</h2></div>
	<!--MESSAGE SECTION HERE-->
  
    <div *ngIf="messageModalOpen"  class="modal">
      <div class="modal-content">
        <h2>Send a Message</h2>
        <button style="width:10%;margin-left: 90%;background-color: red;border: none;font-weight: bold;color: white;" (click)="closeMessageModal()">close</button>
        <form [formGroup]="messageform" (ngSubmit)="sendmessage(patient)" action="#" method="post" class="formsg">
          <div class="message-container" >
            <div class="message-header">
              <img src="http://127.0.0.1:8088/api/auth/Doctor/files/{{sec?.photo}}" alt="Avatar" class="avatar">
              <h3 class="username">{{sec?.username}}</h3>
            </div>
            <div class="messages" *ngFor="let msg of newmsg">
              <div class="message received" *ngIf="msg.sender.username==pat">
                <p class="content">{{msg.content}}</p>
                <span class="timestamp">{{msg.timestamp}}</span>
              </div>
              <div class="message sent" *ngIf="msg.sender.username==sec?.username">
                <p class="content">{{msg.content}}</p>
                <span class="timestamp2">{{msg.timestamp}}</span>
              </div>
            </div>
            <div class="message-input">
              <input type="text" formControlName="content" placeholder="Type your message here...">
              <button type="submit">Send</button>
            </div>
          </div>
          
        </form>
      </div>
      
    </div>
    
    

	<div class="patient-container">
        <div class="patient" *ngFor="let patient of patients">
          <img src="http://127.0.0.1:8088/api/auth/Doctor/files/{{patient.photo}}" alt="Patient 1">
          <div class="patient-info">
            <h3 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;font-weight: bold;">{{patient.username}}</h3>
            <p>Email: {{patient.email}}</p>
            <p>Gender: {{patient.gender}}</p>
            <button (click)="openMessageModal(patient.id)" style="border: none;color: blue;font-weight: bold;margin-top: 5px;">Message</button><br>
            <button (click)="openMedicalBillModal(patient.id)" style="border: none;color: red;font-weight: bold;margin-top: 5px;">Create Medical Bill</button>
            <button  (click)="openMedicalbill(patient.id)" style="border: none;color: darkgreen;font-weight: bold;margin-top: 5px;">View Medical Bills</button>
          </div>
        </div>
        
        <!-- Add more patient divs as needed -->
      </div>
      <!--CREATE MEDICAL BILL SECTION-->

      <div  *ngIf="medicalbillopen"  class="modal" >
        <div class="modal-content">
          <h2>Create Medical Bill</h2>
          <button style="width:10%;margin-left: 90%;background-color: red;border: none;font-weight: bold;color: white;" (click)="close()">close</button>
          <form [formGroup]="medialbillform" (ngSubmit)="createbill()" action="#" method="post" class="formsg">
            <div class="message-container">
              
              
              <div class="form-group">
                <label for="Appointement">Appointement:</label>
                <select formControlName="rendezvous" name="rendezvous" id="rendezvous">
                  <option selected disabled>choose rendezvous first</option>
                  <option *ngFor="let rd of filteredpatientRDV" [value]="rd.id">{{rd.appointmentReason}}</option>
                </select>
                
                                
              </div>
              <div class="form-group">
                <label for="Description">Appointement Description:</label>
                <input type="Description" formControlName="Description" placeholder="enter Description">
              </div>
              
              
              <div class="form-group">
                <label for="Amount">Amount:</label>
                <input type="amount" formControlName="amount" placeholder="enter amount">
              </div>
              
              <div class="form-group">
                <label for="Tax">Tax:</label>
                <input type="Tax" formControlName="Tax" placeholder="enter Tax">
              </div>
              
              <div class="form-group">
                <label for="Discount">Discount:</label>
                <input type="Discount" formControlName="Discount" placeholder="enter Discount">
              </div>
              
              
              
              <div class="form-group">
                <button type="submit">Submit</button>
              </div>
            </div>
          </form>
          
        </div>
        
      </div>

<!--VIEW MEDICAL BILLS SECTION -->

      <div *ngIf="medicalbillview"  class="modal">
        <div class="modal-content">
          <button style="width:10%;margin-left: 90%;background-color: red;border: none;font-weight: bold;color: white;" (click)="closeMedicalBills()">close</button>
          <div class="paper-view" *ngFor="let patientbill of patientbills" >
            <div *ngIf="patientbill">
              
              <div class="sectionn">
                <h2 style="margin-left: 175px;margin-bottom: 30px;font-weight: bold;font-family: cursive;">Patient Information</h2>
                <div class="fieldd">
                  <div class="labell">Patient:</div>
                  <div class="valuee">{{patientbill.patient.username}}</div>
                </div>
              </div>
              <div class="section">
                <h2 style="margin-left: 175px;margin-bottom: 30px;font-weight: bold;font-family: cursive;">Patient Bill</h2>
                <div class="fieldd">
                  <div class="labell">Description:</div>
                  <div class="valuee">{{patientbill.description}}</div>
                </div>
                <div class="fieldd">
                  <div class="labell">date:</div>
                  <div class="valuee">{{patientbill.formattedDate}}</div>
                </div>
                <div class="fieldd">
                  <div class="labell">Doctor:</div>
                  <div class="valuee">{{patientbill.doc.username}}</div>
                </div>
                <div class="fieldd">
                  <div class="labell">Amount:</div>
                  <div class="valuee">{{patientbill.amount}} <strong>Dinars</strong></div>
                </div>
                <div class="fieldd">
                  <div class="labell">Tax:</div>
                  <div class="valuee">{{patientbill.tax}} <strong>Dinars</strong></div>
                </div>
                <div class="fieldd">
                  <div class="labell">Discount:</div>
                  <div class="valuee">{{patientbill.discount}} <strong>Dinars</strong></div>
                </div>
                <div class="fieldd">
                  <div class="labell">Total:</div>
                  <div class="valuee">{{patientbill.total}} <strong>Dinars</strong></div>
                </div>
              </div>
            </div>
            
          </div>
          <div *ngIf="patientbills?.length==0">
            
            <h2 style="color: #ff5757; font-size: 28px; margin-top: 40px; text-align: center;">Oops! No medical Bills found for this patient.</h2>
            <p style="font-size: 16px; text-align: center; margin-top: 20px;">Create a new medical bill for this patient and check again.</p>
          </div>
          
          
        </div>
      </div>
      
      
      

	
</body>

