<div class="page-sidebar fixedscroll">

    <!-- MAIN MENU - START -->
    <div class="page-sidebar-wrapper" id="main-menu-wrapper">

        <ul class='wraplist'>
            <li class='menusection'>Main</li>
            <li class="open">
                <a routerLink="/home">
                    <i class="img">
                        <img src="assets/hos-dash/icons/1.png" alt="" class="width-20">
                    </i>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            <li class="">
                <a href="javascript:;">
                    <i class="img">
                        <img src="assets/icons/45952.png" alt="" class="width-20">
                    </i>
                    <span class="title">Medical Fields</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a class="" routerLink="/home/domainList">All Medical fields</a>
                    </li>
                    <li>
                        <a class="" routerLink="/home/addDomain">Add Medical field</a>
                    </li>
                </ul>
            </li>
            
            
            <li class="">
                <a href="javascript:;">
                    <i class="img">
                        <img src="assets/images/2.png" alt="" class="width-20">
                    </i>
                    <span class="title">Doctors</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a class="" routerLink="/home/AllDoctors">All Doctors</a>
                    </li>
                    <li>
                        <a class="" routerLink="/home/ajout">Add Doctor</a>
                    </li>
                </ul>
            </li>
            <li class="">
                <a href="javascript:;">
                    <i class="img">
                        <img src="assets/hos-dash/icons/5.png" alt="" class="width-20">
                    </i>
                    <span class="title">Patients</span>
                    <span class="arrow"></span>
                    
                </a>
                <ul class="sub-menu">
                    <li>
                        <a class=""  routerLink="/home/AllPatients">All Patients</a>
                    </li>
                    <li>
                        <a class="" routerLink="/home/AddPatient">Add Patient</a>
                    </li>
                    
                    
                </ul>
            </li>
            <li class="">
                <a href="javascript:;">
                    <i class="img">
                        <img src="assets/hos-dash/icons/6.png" alt="" class="width-20">
                    </i>
                    <span class="title">Appointments</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a class="" routerLink="/home/appointements">Appointements List</a>
                    </li>
                    
                </ul>
            </li>
            <li class="">
                <a href="javascript:;">
                    <i class="img">
                        <img src="assets/hos-dash/icons/7.png" alt="" class="width-20">
                    </i>
                    <span class="title">Billing</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a class="" routerLink="/home/bills">Payments</a>
                    </li>
                    
                </ul>
            </li>
            <li class="">
                <a href="javascript:;">
                    <i class="img">
                        <img src="assets\community-icon-vector-logotype-260nw-2260327587.webp" alt="" class="width-20">
                    </i>
                    <span class="title">Community Posts</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a class="" routerLink="/home/community">List of posts</a>
                    </li>
                    
                    <li>
                        <a class="" routerLink="/home/declinedPosts">Declined Posts</a>
                    </li>
                </ul>
            </li>
            <li class="">
                <a href="javascript:;">
                    <i class="img">
                        <img src="assets\746260-200.png" alt="" class="width-20">
                    </i>
                    <span class="title" routerLink="/home/complaints">Complaints</span>
                    
                </a>
                
            </li>
            
            
            <li class="">
                <a href="javascript:;">
                    <i class="img">
                        <img src="assets\hos-dash\icons\10.png" alt="" class="width-20">
                    </i>
                    <span class="title">Access Pages</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a class="" href="ui-login.html">Login</a>
                    </li>
                    
                    
                </ul>
            </li>
            
                
            
          
            
            

            

        </ul>

    </div>
    <!-- MAIN MENU - END -->

</div>