<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<div class="section-title">
  <h2 style="font-family: fantasy;">Appointement Requests</h2>
  <h4 style="font-family:Georgia, 'Times New Roman', Times, serif;">Here are your doctor rendezvous requests, you can confirm the rendezvous by clicking on confirm</h4>
</div>

<table *ngIf="rvs?.length>0" id="example" class="display table table-hover table-condensed">
  <thead>
    <tr>
      <th>Appointment No</th>
      <th>Appointment Date</th>
      <th>Appointement Hour</th>
      <th>Appointment Reason</th>
      <th>Patient</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody *ngFor="let rv of rvs">
    <tr>
      <td>{{rv.id}}</td>
      <td>{{rv.formattedDate}}</td>
      <td *ngIf="rv.formattedTime">{{rv.formattedTime}}</td>
            <td *ngIf="!rv.formattedTime">Not Set</td>
      <td>{{rv.appointmentReason}}</td>
      <td><a style="text-decoration: none;color: black;" routerLink="">{{rv.patientName.username}}</a></td>
      <td *ngIf="rv.confirmed == true">
        <p style="font-weight:bold;color:green">Done</p>
      </td>
      <td *ngIf="rv.confirmed == false">
        <p style="font-weight: bold;color: red;">Pending</p>
      </td>
      <td>
        <button *ngIf="rv.confirmed==false" type="button" (click)="confirmRendezVous(rv.id)" class="btn btn-primary" confirm="Are you sure?">Confirm</button>
      </td>
    </tr>
  </tbody>
</table>
<div *ngIf="rvs?.length==0">
  <h2 style="text-align: center; font-size: 80px;font-weight: bold;letter-spacing: 2px; font-family: fantasy;" >No appointements yet</h2>
  <br>
  <h5 style="text-align: center;color: red;">Please wait for patients to request rendez-vous</h5>
</div>
