
#example {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 20px 0;
    font-family: 'Montserrat', sans-serif;
  }

  #example th,
  #example td {
    padding: 15px;
    text-align: center;
  }

  #example thead th {
    background-color: #0a4471;
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  #example tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
  }

  #example tbody tr:hover {
    background-color: #e9ecef;
    cursor: pointer;
  }

  #example tbody td {
    font-size: 16px;
    font-weight: 400;
    color: #333;
    border-bottom: 1px solid #dee2e6;
  }

  #example tbody td:first-child {
    font-weight: 500;
  }

  #example tbody td:last-child {
    text-align: center;
  }

  .section-title {
    text-align: center;
    margin-bottom: 50px;
  }

  .section-title h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .section-title p {
    font-size: 18px;
    font-weight: 400;
  }
  button.btn-primary {
  background-color: lightgreen;
  border-color: #3498db;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
}

button.btn-primary:hover {
  background-color: #2980b9;
  border-color: #2980b9;
  cursor: pointer;
}

button.btn-primary:focus {
  outline: none;
  box-shadow: none;
}
/* Animation */
@keyframes glow {
    0% {
      text-shadow: 0 0 10px rgba(0, 255, 0, 0.8);
    }
    50% {
      text-shadow: 0 0 20px rgba(0, 255, 0, 1);
    }
    100% {
      text-shadow: 0 0 10px rgba(0, 255, 0, 0.8);
    }
  }
  
  /* Glow Effect */
  p {
    text-shadow: 0 0 10px rgba(0, 255, 0, 0.8);
  }
  
  /* Apply animation to the text element */
  p {
    animation: glow 1s ease-in-out infinite;
  }
  