<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Secretary Registration Form</title>
</head>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="section-title">
    <h2 style="font-family: cursive;">Create Secretary account</h2>
    <p style="font-family: cursive;">Here you can create your own secretary's account</p>
  </div>
<div  class="secCon">
	<form [formGroup]="form" (ngSubmit)="onsubmit()">
		<h1 style="font-family: fantasy;">Secretary Registration Form</h1>
		<label for="username">Username</label>
		<input formControlName="username" type="text" id="username" name="username" required>

		<label for="email">Email</label>
		<input formControlName="email" type="email" id="email" name="email" required>

		<label for="password">Password</label>
		<input  formControlName="password" type="password" id="password" name="password" required>

		<label for="photo">Photo</label>
		<input  type="file" id="photo" name="photo" accept="image/*" required (change)="onFileSelect($event)">

		<button type="submit">Submit</button>
	</form>
</div>
	

</html>
